body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	font-family: "Open Sans",sans-serif;
	overflow-x:hidden;
}

html {
  background: url(../images/banner-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 767px) {
		.overall-container{
             padding:20px;
			padding-left:20px;

		}

}

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {

	.overall-container{
            padding:20px;
			padding-left:50px;


		}
}

.overall-container{

/* background-color: rgba(255,255,255,0.6);*/

 margin-top:5%;
 color:white;


}	

.logo{
	padding-top:20px;
}



.cover{
background-color: rgba(255,255,255,0.6);
}


.logo img{
	margin:0 auto;
}

.slider-overlay h3{
	letter-spacing: 2px;
	padding-top:10px;
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
}

@media screen and (max-width: 767px) {
.slider-overlay input[type="text"]{
	margin-top: 10px;
  }
}

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {

	.slider-overlay input[type="text"]{
	margin-top: 40px;
    }
}



.slider-overlay .form-group{
	margin-bottom: 20px;
}


hr { 
	border: 0; 
	height: 3px; 
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  }

#quick_search_form .form-control{
	height:50px;
	color:black;
	font-size: 14px;
	letter-spacing: 1px;
}


.slider-overlay .btn{
	font-size: 18px;
	letter-spacing: 1px;
	padding:13px;
}

.slider-overlay p{
	font-size: 17px;
	padding-bottom:15px;
	padding-top: 20px;
	letter-spacing: 1px;
}

/* Extra small devices (phones, up to 480px) */
/*@media screen and (max-width: 767px) {
		.slider-overlay h3{font-size: 20px;}
}*/
/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) and (max-width: 991px) {
}*/
/* tablets/desktops and up ----------- */
/*@media (min-width: 992px) and (max-width: 1199px) {
}*/
/* large desktops and up ----------- */
/*@media screen and (min-width: 1200px) {
}*/





